

.logo{
  width: 90px;
}

ul li a{
    font-size: 16px;
    letter-spacing: 1px;
}
.h5{
    letter-spacing: 1px;
    margin-left: 1px;
}
.content p{
    text-align: justify;
    margin-top: 20px;
    letter-spacing: 1px;
}
button{
    background-color: black;
    color: aliceblue;
    border: none;
    width: 30%;
    padding: 8px;
    letter-spacing: 2px;
    border-radius: 2px;
}
ul li a:hover{
   text-decoration: underline;
   
}