
<nav class="navbar navbar-expand-lg  px-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/rename.png" class="img-fluid logo" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="login">LOGIN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="signup">SIGNUP</a>
        </li>
   
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/Team-bro.png" class="img-fluid" alt="">
    </div>
    <div class="col-md-6 mt-5">
     <div class="heading mt-5">
      <span class="h3">CLUBMAN & HOSPITALITY</span><br>
      <span class="h5">SOFTWARE SOLUTIONS PVT. LTD.</span>
     </div>
     <div class="content">
      <p class="text-muted">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente distinctio exercitationem sed cumque! Qui magnam commodi non ipsum incidunt fugiat et dignissimos id. Optio ipsa, dolor vitae aperiam voluptatum laudantium.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae modi tempore vero nostrum a fugit voluptas commodi quos iste consequatur, amet necessitatibus autem fugiat unde minus! Possimus maiores perferendis voluptates?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, hic at odit pariatur cupiditate veniam est, iusto fugiat distinctio, non dignissimos odio deserunt mollitia reprehenderit magnam labore aliquid fugit rem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque, quos impedit! Magni optio cupiditate quaerat deleniti. Eum ut rerum, molestias numquam sequi nulla ipsum illo! Quam nihil iste odit labore.
      </p>
     </div>
     <button class="mt-3">CONTACT US</button>
    </div>
  </div>
</div>