
<section>
    <app-navbar></app-navbar>
</section>
<div class="container-fluid img-content">
<img src="/assets/team.jpg" class="img-fluid" alt="">
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 p-3">
              <h2>Team</h2>
            <p>TeamPassion, mission or vision… the objective is to believe and practice that wealth creation is not the cause
                of our existence but the result of our existence.</p>
        </div>
        <div class="col-md-8 p-3">
            <h2>Culture</h2>
          <p>‘We as a team and a tech company, we are not awed by technology and we don’t sell technology.
            We start with customer experience and satisfaction’</p>
      </div>
      <div class="col-md-8 p-3">
        <h3 class="text-center typed">“A satisfied customer is the best business strategy of all.”</h3>
     </div>
  
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6 img-box">
              <img src="/assets/team1.jpg" alt="">
            </div>
            <div class="col-md-6 px-5">
                <div class="content">
                    <h2>Engagement</h2>
                    <p class="text-content">Responsive HR policies to engage and support the team cohesiveness</p>
                </div>
                <div class="content">
                    <h2>Engagement</h2>
                    <p class="text-content">Encourage creative conflict to ensure great outcomes</p>
                </div>
                <div class="content">
                    <h2>Engagement</h2>
                    <p class="text-content">Work is to reward a better life and not to impede a good one. We offer seamless transition between work and life so that you don’t see a difference between both.</p>
                </div>
                <div class="content">
                    <h2>Career and Leadership</h2>
                    <p class="text-content">We hire people with the hunger to grow and shine. Provide them with the necessary environment and tools to learn, practice and flourish as an individual and a team member</p>
                </div>
            </div>
        </div> 
    </div>  
    </div>
</div>
<section class="mt-5">
    <app-footer></app-footer>
</section>

<!-- -->