
<section>
  <app-navbar></app-navbar>
</section>

  <div class="container-fluid">
  <app-slide></app-slide>
  </div>

  <div class="container-fluid index">
    <div class="row">
    <div class="col-md-12 text-center px-5">
       <h1> <b>Clubman</b> is a Preferred Software Solution <br> Provider for Top 80 Clubs in India</h1>
       <div class="content-heading px-5">
        Enterprise Resource Planning System is a total integrated software solution for marquee clubs across the country  that integrates the various operations of a club - Guest Room bookings, Member Maintenance, POS, kitchen and restaurant, Financial Accounting, Payroll and Inventory besides Banquet management.
       </div>
    </div>    
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center service">
          
        <div class="card p-4">
          <div class="img mb-3">
            <i class="fa-solid fa-golf-ball-tee h1 fa-flip"></i>
          </div>
          <div class="content">
            <span class="h4">Clubs Serviced</span> <br>
            <span class="h1">90 +</span>
             </div>
        </div>
        <div class="card px-3 py-4">
          <div class="img mb-3">
            <i class="fa-solid fa-users h1 fa-flip"></i>
          </div>
          <div class="content">
            <span class="h4">Satisfied Members</span> <br>
            <span class="h1">4000 +</span>
             </div>
        </div>
        <div class="card p-4">
          <div class="img mb-3">
            <i class="fa-solid fa-desktop h1 fa-flip"></i>
          </div>
          <div class="content">
            <span class="h4">States Serviced</span> <br>
            <span class="h1">10 +</span>
             </div>
        </div>
        <div class="card p-4">
          <div class="img mb-3">
            <i class="fa-solid fa-star h1 fa-flip"></i>
          </div>
          <div class="content">
         <span class="h4">Satisfied Clubs</span> <br>
         <span class="h1">99%</span>
          </div>
        </div>

      
      </div>
    </div>
  </div>
<!--  
  <div class="container-fluid p-5 box">
    <div class="row img-content">
      <div class="col-md-12 px-5  text-center home">
        <h1>How Clubman Helps</h1>
         <p class="mb-5">Enterprise Resource Planning System plays prominent role in the areas of Guest Room, Member Maintenance, POS,<br> Financial Accounting, Payroll and Inventory.</p>
      </div>
      <div class="col-md-4 img-box">
        <img src="../assets/400.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-5">
        <h2 class="mb-4">Features</h2>
        <div class="row">
        
          <div class="col-md-4 mb-3">
            <div class="row">
              <div class="feature-img col-md-4">
                <img src="../assets/icons8-bed-100.png" class="img-fluid" alt="">
              </div>
              <div class="feature-content col-md-8">
              <span class="h6 ps-3"> Guest Room</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="row">
              <div class="feature-img col-md-4">
                <img src="../assets/icons8-wrench-100.png" class="img-fluid" alt="">
              </div>
              <div class="feature-content col-md-8">
              <span class="title ps-3">Member Maintenance</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-3">
            <div class="row">
              <div class="feature-img col-md-4">
                <img src="../assets/servicebell.png" class="img-fluid" alt="">
              </div>
              <div class="feature-content col-md-8">
              <span class="h6 ps-3">POS</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="row">
              <div class="feature-img col-md-4">
                <img src="../assets/money.png" class="img-fluid" alt="">
              </div>
              <div class="feature-content col-md-8">
              <span  class="title ps-3">Payroll & Inventory</span>
              </div>
            </div>
          </div>

          <div class="col-md-4 mb-4">
            <div class="row">
              <div class="feature-img col-md-4">
                <img src="../assets/calculator.png" class="img-fluid" alt="">
              </div>
              <div class="feature-content col-md-8">
              <span  class="title ps-3">Financial Accounting</span>
              </div>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        
        </div>
        <div class="row">
          <h2>Benefits</h2>
          <div class="col-md-6">
            <ul>
              <li><i class="fa-solid fa-check"></i>  Authentication Management</li>
              <li><i class="fa-solid fa-check"></i> Inventory Control</li>
              <li><i class="fa-solid fa-check"></i> Membership management</li>
              <li><i class="fa-solid fa-check"></i> Facility Management</li>
            </ul>
          </div>
          <div class="col-md-6">
            <ul>
              <li><i class="fa-solid fa-check"></i> Accounts Management</li>
              <li><i class="fa-solid fa-check"></i> Member Access to Club Info</li>
              <li><i class="fa-solid fa-check"></i> Payroll Management</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <div class="container-fluid pt-4">
    <div class="row">
      <h2 class="text-center mb-4 heading-5">Clients</h2>
      <div class="col-md-12 text-center slide" style="overflow: hidden;">
        
            <div class="slide-box">
              <marquee behavior="smooth" direction="" > 
               <div class="row slide-row">
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-1.png" class="img-fluid" alt="">
                </div>
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-2.png" class="img-fluid" alt="">
                </div>
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-3.png" class="img-fluid" alt="">
                </div>
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-5.png" class="img-fluid" alt="">
                </div>  

                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-4.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-6.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-7.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-8.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-9.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-10.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-11.png" class="img-fluid" alt="">
                </div>  
                <div class="slide-box" style="width: 230px;height: 128px;margin-left: 20px;">
                  <img src="/assets/clublogo/c-12.png" class="img-fluid" alt="">
                </div>  
               </div>
              </marquee>
            </div>      

        </div>
      
      
    </div>
  </div>

  <div class="container-fluid testimonials">
    <div class="row">
   
      <div class="col-md-12 p-5  testimonials">
    
        <swiper-container pagination="true" pagination-clickable="true" auto-play="true" loop="true">
        
          <swiper-slide class="text-center p-5">
          
          <div class="content">
            <h2 class="thead1">testimonials</h2>
            <h3 class="head1 text-danger">Sunil K Vasant</h3>
            <h3 class="h5 text-primary">Hon.Secretary</h3>
            
             <p>We are happy to announce that Club man understands the Club more than other software companies.
              We at Bangalore Golf Club have been using CLUBMAN for the past 2 years after trying with few software development companies in
              the past. <br>
              Their understanding of the needs of the Club and the support is excellent.
              They keep adding value in a frequent interval to the existing products.
   
               We wish them luck with other clubs and their future endeavors.
            </p>
          </div>
        </swiper-slide>
          <swiper-slide class="text-center p-5">
           
            <div class="content">
              <h2 class="thead1">testimonials</h2>
              <h3 class="head1 text-danger">Samit Chatterjee</h3>
              <h3 class="h5 text-primary">Chief Manager FA & IT</h3>
              
               <p>Clubman is an Effective ERP covering all features of the club segment. It has been used at Saturday Club since 2016-17.
                . <br>
             
  Clubman is able to help us in doing any type of customization because of their domain expertise in the club segment.
  We find their service satisfactory.
  
  
              </p>
            </div>
          </swiper-slide>
          <swiper-slide class="text-center p-5">
           
            <div class="content">
              <h2 class="thead1">testimonials</h2>
              <h3 class="head1 text-danger">Mukesh Agarwal</h3>
              <h3 class="h5 text-primary">Honorary General Secretary
              </h3>
              
               <p>CLUBMAN has been integral part of United Club's journey for more than a decade. It has kept itself updated with changing times and
                requirements. We find the product useful, user friendly and it caters to the entire spectrum of our club’s requirement.
                It has an excellent support team which is available round the clock for any exigency. | can confidently say that Clubman is an
                excellent product and differentiator in the club’s services.
               <br>
               Team CLUBMAN keeps adding value frequently. <br>
               We wish all success to “CLUBMAN" and its team.
              </p>
            </div>
          </swiper-slide>
        
        </swiper-container>
      </div>
    </div>
  </div> -->
<section>
  <app-footer></app-footer>
</section>