.container{
    font-family: 'Poppins',
}
h2{
    letter-spacing: 2px;
}
button{
    background-color: black;
    color: aliceblue;
    border: none;
   width: 100%;
    padding: 8px;
    letter-spacing: 2px;
    border-radius: 2px;
}
p a{
    text-decoration: none;
    letter-spacing: 1px;
}
mat-form-field{
   width: 100%;
}
.logo{
    width: 90px;
  }

  mat-icon{
    cursor: pointer !important;
  }