<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../assets/rename.png" alt="Bootstrap" class="img-fluid logo">
      </a>
    </div>
  </nav>
<div class="container">
    <div class="row">
        <div class="col-md-6 px-5">
           <img src="../assets/signup1.png" class="img-fluid p-5" alt="">
        </div>
        <div class="col-md-6 mt-4">
         <div class="content mt-5">
            <h2>SIGNUP</h2>
            <div class="row">   
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput required type="text"    [(ngModel)]="model.Name" pattern="[a-zA-Z]*" (blur)="ValidateName($event)" maxlength="42" (input)="onInputChange()" required >
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline" >
                        <mat-label>Email</mat-label>
                        <input matInput required type="email"  [(ngModel)]="model.Email" pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$" (blur)="ValidateEmail($event)" required>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Contact No</mat-label>
                        <input matInput required type="number" pattern="[0-9]*" minlength="0" maxlength="10" [(ngModel)]="model.PhoneNo" (blur)="ValidateContact($event)" required>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field appearance="outline">
                    <mat-label>DOB</mat-label>
                    <input matInput [matDatepicker]="dob" [min]="minDate" [max]="maxDate" [(ngModel)]="model.Dob" required>
                     <mat-datepicker-toggle matSuffix [for]="dob"></mat-datepicker-toggle>
                    <mat-datepicker #dob></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput [type]="showPassword ? 'text' : 'password'" [(ngModel)]="model.PassWord" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{6,}$" (blur)="validatePassword($event)" required >
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                            {{showPassword?'visibility_off':'visibility'}}
                        </mat-icon>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Confrim Password</mat-label>
                        <input matInput [type]="showPassword ? 'text' : 'password'"   [(ngModel)]="model.ConfrimPassword" (blur)="validateConfrimPassword($event)" required>
                        <mat-icon matSuffix (click)="togglePasswordVisibility()">
                            {{showPassword?'visibility_off':'visibility'}}
                        </mat-icon>
                      </mat-form-field>
                </div>
            </div>
            <button mat-raised-button class="mb-3" (click)="onSubmit()">SIGNUP</button>
            <p>Already Have a Account ? <a href="login">login</a> </p>
         </div>

        </div>
    </div>
</div>


 
