
<footer class="p-5 bg-dark">
    <div class="container-fluid">
     <div class="row px-5 footer">
       <div class="col-md-3">
        <h2>Company</h2>
      
         <li>Management</li>
         <li>Carrers</li>
         <li>Contact</li>
         <li>Testimonials</li>
      
       </div>
       <div class="col-md-3">
         <h2>Quick Links</h2>
 
         
           <li>Clubman Partner</li>
           <li>ProgramPrivacy </li>
           <li>PolicyDisclaimer</li>
           
          
       </div>
       <div class="col-md-3">
         <h2>Contact Us</h2>
         <p>
           Clubman & Hospitality Software Solutions
           No.123, 3rd Floor,Goudyamutt Road
           Royapettah,Chennai-600014
         </p>
         <p>
           Phone: +91 44 42070027, +91 7042420555,
           +91 9380732461
           Mail: info@clubman.in
         </p>
       </div>
       <div class="col-md-3">
         <h2>Follow US ON</h2>
         <div class="link">
         <a href=""> <i class="fa-brands fa-youtube"></i></a>
         <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
         <a href=""><i class="fa-brands fa-linkedin"></i></a>
         </div>
       </div>
     </div>
    </div>
   </footer>
   <p class="p-1 text-center">Copyright © 2023 All Rights Reserved. Clubman</p>